:root {
  --background-primary: #0f0b20;
  --background-secondary: #1b1d2aa4;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-primary); /* Couleur de fond sombre */
    margin: 0;
    padding: 0;
    color: #fff; /* Couleur du texte par défaut (blanc) */
    
}

h1, h2, h3, h4, p, a {
    margin: 0;
}

/*CSS POUR LA NAV BAR*/

.navbar {
    background-color: var(--background-primary);
    color: #fff;
    padding: 8px 16px;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    z-index: 100;
    backdrop-filter: blur(15px);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 16px;
    padding: 16px;
}

.left {
    flex: 1;
    text-align: left;
    margin-left: 10px;
    font-size: 16px;
    color: #DE023F;
    margin-top: 10px;
}

.toggle-button{
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin: auto;
}
.toggle-button .bar{
    width: 35px;
    height: 4px;
    border-radius: 5px;
    background-color: #fff;
    margin: 3px 2px;
}

.center {
    flex: 1;
    font-size: 12px;
    margin-top: 1px;
    color: #DE023F;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.226);
    font-family: Arial black, Helvetica, sans-serif;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

a {
    color: #DE023F;
    text-decoration: none;
    margin: 0 10px;
}

.resize-link {
    display: inline-block;
    text-decoration: none;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.568);
    transition: transform 0.3s ease; /* Animation du redimensionnement */
}

/* Ajoutez une règle pour agrandir le lien au survol */
.resize-link:hover {
    transform: scale(1.2); /* Modifiez la valeur selon vos préférences */
}
@media screen and (max-width: 768px) {
    .navbar{
        padding: 20px 25px;
        z-index: 100;
    }
    .toggle-button{
        display: flex;
    }
    .nav-links {
        text-align: center;
        display: none;
        flex-direction: column;
        position: absolute;
        width: 100%;
        background-color: var(--background-primary);
        padding: 25px;
        top: 100%;
        left: 0;
        z-index: 100;
    }

    .nav-links.active {
        display: block;
    }
    .nav-links li{
        padding: 12px 0px;
    }
}

/* CSS POUR LE COUNTER */

.counter {
    font-size: 2rem;
    font-weight: bold;
    color: #DE023F;
  }
  
  #count {
    color: #DE023F;
  }

/*CSS POUR TOUTES LES CARDS*/
.box {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 16px;
    margin: auto;
    width: 100%;

    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
.test{
    margin: auto;
}
.goal {
    cursor: pointer;
    transition: height 0.5s ease;
    margin:auto;
    border-radius: 20px;
    position: relative;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: var(--background-secondary);
    color: #fff;
    border-radius: 16px;
    padding: 16px;
}

.LG1{
    width: 75px;    
}

.LG-1{
    width: 80px;
}

.C1{
    text-align: center;
    font-family: Arial black, Helvetica, sans-serif;
}

.C2{
    text-align: center;
    font-family: Arial black, Helvetica, sans-serif;
}

.VS1{
    text-align: center;
}

.T1{
    font-family: Arial, Helvetica, sans-serif;
}

.T2{
    font-family: Arial, Helvetica, sans-serif;
}

.B1{
    font-family: Arial black, Helvetica, sans-serif;
    color: #DE023F;
    font-size: 30px;
}

.B2{
    font-family: Arial black, Helvetica, sans-serif;
    color: #DE023F;
    font-size: 30px;
}

.stat {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 8px 0;
}

.numberGoal {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: space-between;
}

.against {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
}

.team-logo {
    display:flex;
    justify-content: center;
    align-items: center;
}

.team-logo img {
    width: 65px;
}

.rounded-box-container {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.rounded-box {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.027) ;
    font-size: 0.75rem;
    padding: 4px;
    color: #000;
    text-align: center;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.Comp1{
    font-size: 1rem;
    padding: 8px;
    color: #000;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.hidden-content {
    display: none; /* Initialisez la partie cachée comme non affichée */
    flex-direction: column;
    color: #fff; /* Couleur du texte pour la partie cachée */
    transition: max-height 0.3s ease; /* Ajoutez une transition de hauteur pour l'animation de descente */
    gap: 16px;
}

.hidden-stat {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.rounded-link {
    display: inline-block;
    background-color: #DE023F;
    color: #fff;
    padding: 8px;
    border-radius: 8px; /* Augmenté le rayon pour un bord plus arrondi */
    text-decoration: none;
    transition: background-color 0.3s ease;
    text-align: center;
    font-size: 0.75rem
}

.rounded-link:hover {
    background-color: #cc0000;
}

/*CSS POUR LES BUTS */
.large-box {
    width: 100%; /* Largeur de la box */
    margin: 50px 0; /* Marge autour de la box, centrée horizontalement */
    background-color: var(--background-secondary); /* Couleur de fond de la box */
    border-radius: 16px; /* Rayon des coins arrondis */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère pour la box */
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 0;
}

.large-box p {
    font-size: 2rem; /* Taille du texte à l'intérieur de la box */
    color: #DE023F; /* Couleur du texte à l'intérieur de la box */
}

.large-box p {
    padding: 0 24px;
}

.large-box ul {
    padding: 0 48px;
}

ul {
    padding: 16px;
    margin: 0;
}

li {
    margin-bottom: 4px; /* Ajoute un espace de 10 pixels en bas de chaque élément de liste */
    font-size: 1rem;
}

.FD{
    width: 25px;
    height: 25px;
    margin-left: 760px;
}

.FG{
    width: 25px;
    height: 25px;
}

.P1 {
    text-align: center;
    font-size: 35px;
    font-family: Arial BLACK, Helvetica, sans-serif;
}

.navigation-arrows {
    display: flex;
    justify-content: center; /* Ajustement pour centrer les flèches */
    align-items: center;
    margin-bottom: 16px;
}

.arrow {
    font-size: 25px;
    cursor: pointer;
    vertical-align: middle;
}
.arrow img{
    width: 25px;
    margin-bottom: -4px;
}

.previous {
    margin-right: 12px;
}

.next {
    margin-left: 12px;
}

.video-container {
    max-width: 800px; /* Ajuste la largeur maximale selon tes besoins */
    height: 500px;
    overflow: hidden; /* Masquer le débordement pour les coins arrondis */
    border-radius: 16px; /* Rayon des coins arrondis */
    width: 100%;
    margin: auto;
}

.rounded-video {
    width: 100%; /* Remplit la largeur du conteneur parent */
    height: 100%; /* Remplit la hauteur du conteneur parent */
    border: none; /* Supprimer la bordure de l'iframe */
}

/* Style du modal */
.modal {
    display: none; /* Cachez initialement le modal */
    position: fixed; /* Positionnement fixe pour s'assurer que le modal reste centré */
    z-index: 999; /* Positionnement au-dessus de tout le reste */
    left: 0;
    top: 0;
    width: 100%; /* Largeur pleine */
    height: 100%; /* Hauteur pleine */
    overflow: hidden; /* Permet le défilement si nécessaire */
    background-color: var(--background-primary);
    width: 100%;
  }
  
  /* Contenu du modal */
  .modal-content {
    padding: 24px;
    height: 100%;
    overflow: scroll;
    max-width: 800px;
    margin: auto
  }
  
  /* Fermer le bouton */
  .close {
    color: #aaa;
    position: fixed;
    right: 12px;
    top: 12px;
    font-size: 3rem;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  